.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.product-item:hover {
    box-shadow: 0 8px 16px rgba(0.2, 0, 0, 0.5); 
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}
.no-items img {
    max-width: 100%;
    max-height: 100%; 
}.no-items {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
